html{width:100%;}
#content article .gallery dl.gallery-item {width:14.1%;}
#content article .gallery dl.gallery-item dd.gallery-caption {display:none;}
#content article .gallery dl.gallery-item img {border:1px solid #EEE!important; width:90%; height:auto}
#content article .gallery dl.gallery-item a:hover img {border:1px solid #252525!important;}
dd.wp-caption-text {display:none;}

.slideshow #wpadminbar {display:none;}
.slideshow .container{max-width: 1140px; margin: 0 auto;}
body.slideshow {max-width:none !important; background: none repeat scroll 0 0 #1f1f1f; color:#FFF;}

.slideshow header {background: #4c4c4c; border-bottom: 1px solid #fff;}

.slideshow header h1 {float:left; margin:15px 0 0;}
.slideshow header h1 a {width:333px; height:41px; background:url('images/graphics/torontoist-logo-slideshow.png') top left no-repeat; display:block; text-indent:-9999em;}
.slideshow header nav{
	clear:left;
	padding: 1em 0 0;
	}
.slideshow header nav li{
	float:left;
	border-right: 1px solid #fff;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0 5px;
	}
.slideshow header nav li:first-child{padding: 0 5px 0 0;}
.slideshow header nav li:last-child{border-right: none;}
.slideshow header nav,
.slideshow header nav a{
	color: #fff;
	text-transform:uppercase;
	line-height: 1;
}
.slideshow nav:after{content:""; display:block; clear:both;}
.slideshow #leaderboard{
	float:right; margin: 5px 0;
	width:743px;
	}
.slideshow #leaderboard>img{float:left;}	
.slideshow .ad-container{
	border: 2px solid #000;
	height: 90px;
	float:left;
}
.slideshow article,
.slideshow .container footer {
	float: left;
	width:100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 330px;
	}
.slideshow article img {
	height: auto;
	width: auto;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
	display:block;
	border: 1px solid #000;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

p.back{margin: 0;}
p.back a{
	text-transform: uppercase;
	color: #ecea26;
	font-weight:bold;
}
.slideshow article aside {padding: 1.1em 0;}
.slideshow article h1 a{
	color: #fff;
	font-size: 1.625em;
	font-weight: bold;
	line-height: 1;
	padding: 8px 0 0;
}
.slideshow article section{
	position:relative; 
	width: 100%; 
	height: 100%; 
	/*Adjust as needed*/
	overflow:hidden;
	}
.slideshow #slideshow{
	height: 100%;
	width: 100%;
}
.slideshow #slideshow.rich{width: 300%;}
.slideshow #slideshow a{
	display:block;
	height: 100%;
	width: 100%;
}
.slideshow #slideshow.rich a{
	width: 33.333%;
	float:left;
	position:relative;
	left: -33.333%;
}
.slideshow #slideshow.rich a{
	min-height:1px;
}
.slideshow #slideshow.rich img.expandable{
	cursor: crosshair;
}
.slideshow #overlay{
	position:absolute;
	left:0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,0.5);
	z-index: 10;
}
.slideshow #embiggened{
	cursor: crosshair;
	position:absolute;
	padding: 10px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 15px #000;
	z-index:10;
}
.slideshow #embiggened img{
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}
.slideshow article section a.hide{display:none;}
.slideshow article nav a{
	position:absolute;
	height: 65px; width: 65px;
	overflow:hidden;
	text-indent: -9999px;
	visibility:hidden;
}
article nav a:focus{outline:none;}
article nav a::-moz-focus-inner{border: none;}
.touch .slideshow article nav a{visibility: hidden;}
.no-touch .slideshow article section:hover a{
	visibility:visible;
}
.slideshow article nav a.previous{
	left: 10px;
	top: 50%;
	margin-top: -32px;
	background: url('images/graphics/prev-off.png');
}
.slideshow article nav a.next{
	right: 10px;
	top: 50%;
	margin-top: -32px;
	background: url('images/graphics/next-off.png');
}
.slideshow article nav a.previous:hover{
	background: url('images/graphics/prev-on.png');
}
.slideshow article nav a.next:hover{
	background: url('images/graphics/next-on.png');
}

.slideshow #expand_msg,.slideshow #swipe_msg{
	position:absolute;
	top:5px;
	left: 50%;
	width: 200px;
	margin-left:-100px;
	background: #000;
	background: rgba(0,0,0,0.3);
	border-radius: 5px;
	color: #fff;
	padding: 5px 10px;
	text-align: center;
	text-shadow: 0 -1px 1px #000;
	display: none;
}
html.touch .slideshow #swipe_msg{top:100px;display:block;}
.slideshow #thumbnails{
	margin: 8px 0 0;
	max-height: 131px;
	overflow-y: auto;
	}
.slideshow #thumbnails.mCustomScrollbar{
	max-height: 131px;
}
.slideshow #thumbnails a{width: 100px; height:100px; display:block; float:left; margin: 8px 8px 8px 0;}
.slideshow #thumbnails img {
	width:100%;
	height: auto;
	border: 1px solid #888;
	box-shadow: 0 0 0 1px #000;
}
.slideshow #thumbnails .thumbnail.active img{border-color:#fff;}

.slideshow #sidebar {width:300px !important; margin: 1em 10px 0 -310px; padding: 2px 0 0;}
.slideshow #sidebar_ad {margin: 0px; height: 288px}

.slideshow #sidebar section {margin:10px 0 0 0;}
.slideshow #sidebar #slide-info{
	overflow-y: auto;
}
#sidebar_ad{
	position: absolute;
	bottom: 32px;
}
.slideshow #sidebar p.slide-count{
	text-transform:uppercase;
	color: #cbcbcb;
	margin: 0;
	}
.slideshow #slide-info a {color:#FFF;}
.slideshow #slide-info a {text-decoration: underline;}
.slideshow #slide-info span p {margin:8px 0;}
.slideshow #slide-info .title {font-weight:600;}
.slideshow #slide-info .description p {color:#FFF;}
.slideshow #slide-info .caption p {color:#FFF; font-size:12px;}
.slideshow #social-media{
position:relative;
padding:0;
margin:10px 0;
}
#sidebar #social-media a {color:#fff;}
#social-media a span{transition:all 0.6s;}
a.social:hover{
	text-decoration:none;
}
a.pinterest:hover span{color:#b8242a;}
a.gplus:hover span{color:#dd4839;}
a.facebook:hover span{color:#495ea4;}
a.twitter:hover span{color:#00acee;}
a.email:hover span{color:#9cc67f;}
.slideshow a.social span{
font-family:'Entypo Social';
font-size:3em;
line-height:0.8;
}
.slideshow a.social.email span{
font-family:'Entypo';
}
.slideshow #sidebar_ad h6,
.slideshow .mobile-ad h6{
	margin: 0;
	padding: 3px 0;
	font-size: 9px;
	background: #ddd;
	color: #000;
	text-align:center;
	text-transform:uppercase;
}
.mobile-ad{
	width:320px;
	height: 65px;
}
.slideshow #sidebar .back{
	padding: 6px 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	margin-bottom: 15px;
}

.slideshow>footer{
	float:none;
	width: 100%;
	clear:both;
	border-top: 1px solid #fff;
	background: #000;
	padding: 4px 0;
	line-height:1;
}

.mCSB_container{
	width:auto;
	margin-right:30px;
	overflow:hidden;
}
.mCSB_container.mCS_no_scrollbar{
	margin-right:0;
}
.mCustomScrollBox>.mCSB_scrollTools{
	width:16px;
	height:100%;
	top:0;
	right:0;
}
.mCSB_scrollTools .mCSB_draggerContainer{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0; 
	height:auto;
}
.mCSB_scrollTools a+.mCSB_draggerContainer{
	margin:20px 0;
}
.mCSB_scrollTools .mCSB_draggerRail{
	width:2px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_scrollTools .mCSB_dragger{
	cursor:pointer;
	width:100%;
	height:30px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	text-align:center;
}
/* horizontal scrollbar */
.mCSB_horizontal>.mCSB_container{
	height:auto;
	margin-right:0;
	margin-bottom:15px;
	overflow:hidden;
}
.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{
	margin-bottom:0;
}
.mCS_disabled>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{
	margin-right:0;
	margin-bottom:30px;
}
.mCSB_horizontal.mCustomScrollBox>.mCSB_scrollTools{
	width:100%;
	height:16px;
	top:auto;
	right:auto;
	bottom:0;
	left:0;
	overflow:hidden;
}
.mCSB_horizontal>.mCSB_scrollTools a+.mCSB_draggerContainer{
	margin:0 20px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:2px;
	margin:7px 0;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger{
	width:30px;
	height:100%;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:4px;
	margin:6px auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCustomScrollBox{
	-ms-touch-action:none; /*MSPointer events - direct all pointer events to js*/
}

/* default scrollbar colors and backgrounds (default theme) */
.mCustomScrollBox>.mCSB_scrollTools{
	opacity:0.75;
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCustomScrollBox:hover>.mCSB_scrollTools{
	opacity:1;
	filter:"alpha(opacity=100)"; -ms-filter:"alpha(opacity=100)"; /* old ie */
}
.mCSB_scrollTools .mCSB_draggerRail{
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.4);
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.75);
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(255,255,255,0.85);
	filter:"alpha(opacity=85)"; -ms-filter:"alpha(opacity=85)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(255,255,255,0.9);
	filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}

@media screen and (max-width:1080px){
	.slideshow .site-title{
		float: left;
		margin: 15px -743px 0 0;
		padding: 0 748px 0 5px;
		width: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.slideshow .site-title a{
		background-size:contain;
		width:100%;
	}
}
@media screen and (max-height:800px){
	.slideshow aside h1{max-height: 2em; overflow:hidden;}
	#sidebar .back{display:none;}
	.slideshow #social-media{
		border-top:1px solid #fff;
		border-bottom:1px solid #fff;
	}
}
@media screen and (max-height:768px) and (min-width:768px){
	#sidebar_ad{display:none;}
	.slideshow article,
	.slideshow .container footer{padding-right:350px;}
	.mobile-ad{position:absolute;bottom:45px;right:10px;display:block;}
}
@media screen and (max-height:768px) and (min-width:1100px){
	.slideshow #thumbnails a{height:50px;width:50px;}
}

@media screen and (max-width: 768px){
	.slideshow .site-title{
		float: left;
		margin: 15px -330px 0 0;
		padding: 0 335px 0 5px;
		width: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.slideshow .site-title a{
		background-size: contain;
		width: 100%;
		}
	.slideshow .mobile-ad{
		display:block;
		clear:none;
		float:left;
		height: 65px;
		width:320px;
		background: #000;
		}
	.slideshow .mobile-ad div{float:right;}
	.slideshow .mobile-ad>img{height: 100%;float:left;}
	.slideshow article,
	.slideshow .container footer{
		float: none;
		padding: 0;
	}
	.slideshow article aside{padding: .55em;}
	/*
	.slideshow aside h1{max-height: 2.2em; overflow:hidden;}
	.slideshow article h1 a{font-size: 16px;}
	*/
	.slideshow article h1{display: none;}
	.slideshow article section{height: 400px;}
	.slideshow #thumbnails{height: 60px;}
	.slideshow #thumbnails a{width: 50px; height: 50px;}
	.slideshow #thumbnails a:active{background: none;}
	.slideshow #sidebar{
		margin: 0;
		width: 100% !important;
		float: none;
		max-width: none;
		}
	.slideshow #sidebar .back,
	.slideshow #sidebar #social-media,
	.slideshow #sidebar #sidebar_ad{
		display: none;
	}
	.slideshow > footer{
		position:fixed;
		bottom: 0;
	}
	
	.slideshow .ad{display:none;}
	.slideshow .slide-count{position:absolute; top: 98px; right: 5px;}
	.slideshow #slide-info{height: 70px; margin: 0;}
	.slideshow >footer{position:relative;}
	.touch .slideshow article nav a{display:none;}
}
@media screen and (max-width: 768px) and (orientation:portrait){
	.slideshow #slide-info{height: 210px;}
}
@media screen and (max-width: 750px){
	.slideshow #sidebar{display: block;}
	.slideshow article section{height: auto;}
}

@media only screen and (max-width: 585px){
		.slideshow .site-title{
		margin:0;
		padding:0;
		width: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.slideshow article nav a.previous,.slideshow article nav a.next{
		top:100px;
	}
}
/*Entypo pictograms by Daniel Bruce — www.entypo.com*/
@font-face{
	font-family: 'Entypo Social';
	src: url('images/graphics/entypo-social.eot');
	src: 	url('images/graphics/entypo-social.woff') format('woff'),
				url('images/graphics/entypo-social.ttf') format('truetype'),
				url('images/graphics/entypo-social.svg#webfont') format('svg');
}
@font-face{
	font-family: 'Entypo';
	src: url('images/graphics/entypo.eot');
	src: 	url('images/graphics/entypo.woff') format('woff'),
				url('images/graphics/entypo.ttf') format('truetype'),
				url('images/graphics/entypo.svg#webfont') format('svg');
}
